body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-position: 0px, 500px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}   
.v{
    color: rgb(157, 13, 214);
}
.c{
    font-size: 20px;
}
section{
    display: flex;
}
.d{
    width: 50%;
    margin-left: 50px;
}

.e{
    width: 50%;
}
.e img{
    padding-left: 20% ;
    background-repeat: no-repeat ;
}
.l{
   text-decoration: none;
   background-image:linear-gradient(red, tomato) ;
   padding: 4px;
   color: rgba(255, 254, 252, 0.924);
   border-radius: 4px;
}
.background{
    background-image: url(img/slidescarnival-background-image.png);
    margin: 0;
   
}
.background img{
    background-repeat: no-repeat;
    
   
}
.lo{
   text-align: right;
   background-color:     #FF9700 ;
   margin-right: 0px;
   display: flex;
}
.new{
    text-align: center;
}
.re{
    font-weight: bolder;
    margin: 0;
    text-align: center;
}
.che{
    color: red ;
}
.color{
    background-color: #FF9700;
    background-repeat: no-repeat;
    display: flex;

}

#redoy{
    background-color: #FF9700;
    text-align: center;
}

.colam{
    width: 100%;
  
    

}
#img1{
    float:left ;
    width: 40%;
    display: flex;
 
 
}
#img2{
    padding-left: 0%;
    background-color: #FF9700;
    box-shadow: 10px 10px gray;
    width: 40%; 
    display: flex;
    float: right;
 
 
    
}